[submodule "External/libsass"]
	path = External/libsass
	url = https://github.com/sass/libsass
[submodule "External/SketchKit"]
	path = External/SketchKit
	url = https://github.com/JohnCoates/SketchKit
