<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSK Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CSS Launcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CSSketch Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA4B27BB1C64182500C82A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA56F7CE1BC0D6C4005673E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7D76C71BC1AB5000FCDEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7D76D41BC1AB6900FCDEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
